body {
  /* text-align: center; */
  /* padding: 10rem; */
  background-color: #fff;
  color: #333;
}

header {
  background: black;
  height: 50px;
}

header h1{
  color: white;
  text-align:center;
}

#iframe-container{
  display: block;
  height: 1000px;
  width: 300px;
  padding: 0 13%;
  margin: 2% 0;
}

iframe{
  display:block;
  position: absolute;
}

footer {
  display:block;
  bottom:0;
  background: black;
  height: 20px;
}

footer h5{
  color: white;
  text-align:center;
}
