body {
  /* text-align: center; */
  /* padding: 10rem; */
  background-color: #fff;
  color: #333;
}

/* header {
  background: black;
  height: 50px;
}

header h1 {
  color: white;
  text-align:center;
  margin: 0 auto;
} */

iframe html {
  overflow: hidden; 
}

.container {
  display:flex;
  margin-top: 2rem;
}

#iframe-container {
  display: block;
  height: 1000px;
  /* width: 300px; */
  /* padding: 0 13%; */
  margin: 0 auto;
}

iframe {
  display:block;
  /* position: absolute; */
}

/* footer {
  display:block;
  bottom:0;
  background: black;
  height: 20px;
}

footer h5{
  color: white;
  text-align:center;
} */
