body {
  /* text-align: center; */
  /* padding: 10rem; */
  background-color: #fff;
  color: #333;
}

.container {
  display:flex;
  margin-top: 2rem;
}

.iframe-box {
  margin-top: 2rem;
  border-radius: 10px;
  border: 3px solid #000;
}

#iframe-container {
  display: block;
  /* height: 1000px; */
  /* width: 300px; */
  /* padding: 0 13%; */
  margin: 0 auto;
}

iframe {
  display:block;
}
